/*旋转的立方体*/
.will_rotate {
    height: 150px;
    margin: 0 auto;
    position: relative;
    width: 150px;
}
.rotate_parent, .rotate_parent li {
    display: block;
    position: absolute;
}
.rotate_parent {
    animation: willRotate 3s ease-in-out 0s alternate none infinite ;
    display: block;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 20%;
    transform: rotateX(-33.5deg) rotateY(45deg);
    transform-origin: 50px 50px 0;
    transform-style: preserve-3d;
    width: 100%;
}
.rotate_parent .tip_back, .rotate_parent .tip_front, .rotate_parent .tip_left, .rotate_parent .tip_right, .rotate_parent .tip_top {
    background: rgba(0, 0, 0, 0) radial-gradient(rgba(0, 0, 0, 0) 30%, rgba(3, 27, 101, 0.2) 100%) repeat scroll 0 0;
}
.rotate_parent li {
    height: 100px;
    transition: transform 1s ease-in-out 0s;
    width: 100px;
}
.rotate_parent .tip_front {
    transform: translateZ(50px);
}
.rotate_parent .tip_back {
    transform: translateZ(-50px);
}
.rotate_parent .tip_right {
    transform: rotateY(90deg) translateZ(50px);
}
.rotate_parent .tip_left {
    transform: rotateY(90deg) translateZ(-50px);
}
.rotate_parent .tip_top {
    transform: rotateX(90deg) translateZ(50px);
}
.rotate_parent .tip_bottom {
    transform: rotateX(90deg) translateZ(-50px);
}
.rotate_parent .tip_floor {
    backface-visibility: visible;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: -300px 0 50px rgba(0, 0, 0, 0.3);
    height: 110px;
    left: 295px;
    transform: rotateX(90deg) translateZ(-60px);
    width: 110px;
}
@keyframes willRotate {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg);
    }
    50% {
        transform: rotateX(-33.5deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(-33.5deg) rotateY(360deg);
    }
}
@keyframes willRotate {
    0% {
        transform: rotateX(-33.5deg) rotateY(45deg);
    }
    50% {
        transform: rotateX(-33.5deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(-33.5deg) rotateY(360deg);
    }
}